* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(
    to right,
    #8e25cc 0%,
    #a262d8 30%,
    #a262d8 50%,
    #8e25cc 90%
  );
  background-image: url("C:\\Users\\user\\portfolio\\public\\assets\\background.jpg"); /* Replace 'path-to-your-image.jpg' with the actual path to your image file */
  background-size: cover; /* This property ensures the image covers the entire viewport */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  background-attachment: fixed; /* Keeps the background fixed as the content scrolls */
}
.navbar {
  background-color: #2b2b2b;
  height: 3.2rem;
  border: 0.2rem;
  border: 0.2rem;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
}
.nav-items {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin-right: 2rem;
  gap: 2.2rem;
}
.nav-item {
  font-weight: 400;
  font-size: large;
  margin-top: 0.7rem;
}

.nav-item a {
  color: white;
  text-decoration: none;
  border-bottom: 2px solid #8e25cc;
  transition: all 0.3s;
}

.nav-item a:hover {
  color: #8e25cc;
  font-size: large;
  border-bottom: 4px solid #8e25cc;
}

.grid {
  display: flex;
  justify-content: center;
}
.main-container {
  width: 1000px;
  min-height: 100vh;

  display: flex;

  flex-direction: column;
  color: white;
  padding: 50px;
  border: 2px;
}

.hi-there {
  font-size: 54px;
  margin-bottom: 15px;
}

.intro {
  margin-top: 5px;
  font-family: Arial, Helvetica, sans-serif;
  opacity: 0.88;
}

.abrarfuad {
  color: #ed3434;
}

.button-container {
  margin-top: 20px;
  display: flex;
  height: 50px;
  align-items: center;
}
.profile {
  color: white;
}
.profile i {
  font-size: 35px; /* Adjust the font size to make the icons bigger */
  margin-right: 20px;
  transition: all 0.3s;
}
.profile i:hover {
  font-size: 40px;
  background-color: #6a427f;
  border-color: #fff;
  padding: 10px;
  border-radius: 50%;
}

.profile.highlight i {
  font-size: 40px;
  background-color: #6a427f;
  border-color: #fff;
  padding: 10px;
  border-radius: 50%;
}

.projects-label {
  margin-top: 5rem;
  font-size: 30px;
  margin-bottom: 2rem;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-right: 2.5rem;
  border-bottom: 7px solid #504c4c; /* Adjust the thickness and color as needed */
  display: inline-block;
  padding-bottom: 7px;
}

.project-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.8rem;
}

.project-anchor {
  text-decoration: none;
  color: white;
}
.single-project {
  font-family: "Roboto Condensed", sans-serif;
  font-family: "Space Mono", monospace;
  font-size: 0.7rem;
  background-color: #2b2b2b;
  height: 500px;
  width: 350px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 14px 7px 15px 0px rgba(107, 31, 146, 0.5);
  -webkit-box-shadow: 14px 7px 15px 0px rgba(107, 31, 146, 0.5);
  -moz-box-shadow: 14px 7px 15px 0px rgba(107, 31, 146, 0.5);
  margin-right: 30px;
  margin-top: 30px;
}
.image {
  height: 40%;
  width: 100%;
}

.writings {
  padding: 20px;
  margin-top: 10px;
}
.title {
  margin-bottom: 20px;
}

.description {
  opacity: 0.95;
}

.single-project:hover {
  background-color: #240a2d;
  transition: 0.5s;
}

.tech-label {
  margin-top: 5rem;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  border-bottom: 7px solid #504c4c; /* Adjust the thickness and color as needed */
  display: inline-block;
  padding-bottom: 10px;
}

.single-tech {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  transition: transform 0.3s ease;
}

.single-tech:hover {
  transform: scale(1.05); /* Adjust the scale factor as needed */
}

.tech-image {
  height: 100px;
  width: 100px;
}

.tech-name {
  font-size: 18px;
  font-family: "Space Mono", monospace;
}

.tech-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 3rem;
  gap: 2.5rem;
}

.footer {
  background-color: #2b2b2b;
  height: 50px;
  border: 2px;
  border: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color: white;
  text-align: center;
  padding: 15px;
}
